body
{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    width: 100%;
    min-width: 20em;
    max-width: 100% !important;
    margin: 0;
    padding: 0 !important;
    color: #333;
}
body, html {
    width: 100%;
    overflow-x: hidden;
}
svg
{
    height: 1%;
}
img
{
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin:0;
}

.container
{
    width: 90%;
    margin: 0 auto;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

@media (min-width: 1500px)
{
    .container
    {
        width: 100%;
        max-width: 1400px;
    }
}